@import "../abstracts/variables";


@mixin drop-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@mixin h2-like {
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
    font-family: $font_family_roboto;
}

@mixin primary-gradient {
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}