@import "../abstracts/variables";

// Box Shadow Mixins
@mixin drop-shadow { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); }
@mixin hover-drop-shadow { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
@mixin drop-shadow-dish { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10); }

// BTN Gradients
@mixin primary-gradient {
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);}

// Using the lighten feature to achieve a lighter effect whilst still using the same palette
@mixin hover-gradient {
    background: linear-gradient(0deg, lighten($primary-color, 5%) 0%, lighten($secondary-color, 5%) 100%);
}

//  Animation Mixins
@mixin appearAnim($delay) {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp .7s cubic-bezier(.47,1.64,.41,.8) forwards;

// For each child 1 through 4 in x, apply this delay
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: $delay + 0.2s * $i;
        }
    }

// Bring the animation up and transition the opacity
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

