@import "../abstracts/variables";
@import "../abstracts/mixins";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

// Defining Styles

h1, h2, h3, p { font-family: $font_family_roboto;}

h1 {
    font-size: $font-size-header;
    font-weight: $font-weight-bolder;

}

h2 {
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: $font-size-small-header;
    font-weight: $font-weight-bold;
    color: white;
}

p {
   font-size: $font-size-seconary-header;
   font-weight: $font-weight-light;
}