.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-alt;

    &__title {
        padding: 39px 58px 9px 42px;
        text-align: center;

    }

    &__subtitle {
        padding: 0 26px 0 35px;
        text-align: center;
    }

    &__btn {
        margin: 27px 75px 57px 82px;
        width: 218px;
        height: 50px;
    }
}


.function {

    // Making the cards into a column
    display: flex;
    flex-direction: column;

    padding: 48px 20px 68px 20px;
    gap: 25px;

    &__card {

        // Making the card content into a row
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 29px 0;
        gap: 23px;

        // Make the position of the card element relative to the flow of the page
        position: relative;
        left: 12px;

        // Styling the numerical steps
        &--step {

            @include h3-like;
            // Centering the step numbers
            display: flex;
            align-items: center;
            justify-content: center;

            // Positioning it absolutely based on it's parent element.
            position: absolute;
            left: -12px;

            //Defining a 1:1 aspect ratio 
            width: 24px;
            height: 24px;

            // Make the background a circle
            border-radius: 50%;

            // Defining Purple Color
            background-color: $primary-color;
        }

        &--icon {
            padding-left: 33.5px;
            color: $secondary-icon-color;

            &--purple {
                @extend .function__card--icon;
                color: $primary-color;
            }
        }

    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 18px 0 17px;
    background-color: $bg-alt;

    &__card {
        width: 100%;
 
        &--img {
            object-fit: contain;
            border-radius: 15px 15px 0 0;
            width: 100%;
        }

        &__content {
          padding: 16px 25px 12px 16px;
          display: flex;
          justify-content: space-between;

          &--text {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
    }
}

